@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en" class="h-100">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Quản lý điểm khoa </title>
    <!-- Favicon icon -->
    <link rel="icon" type="~/Assets/admin/image/png" sizes="16x16" href="~/Assets/admin/image/favicon.png">
    <link href="~/Assets/admin/css/style.css" rel="stylesheet">
</head>

<body class="h-100">
    <div class="authincation h-100">
        <div class="container-fluid h-100">
            <div class="row justify-content-center h-100 align-items-center">
                <div class="col-md-5">
                    <div class="form-input-content text-center">
                        <div class="mb-5">
                            <a class="btn btn-primary" href="@Url.Action("Index","Home")">Quay về trang chủ</a>
                        </div>
                        <h1 class="error-text font-weight-bold">404</h1>
                        <h4 class="mt-4"><i class="fa fa-exclamation-triangle text-warning"></i> Không tìm thấy trang bạn đang yêu cầu!</h4>
                        <p>Bạn có thể đã nhập sai địa chỉ hoặc trang có thể đã bị di chuyển.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>