<div class="quixnav">
    <div class="quixnav-scroll">
        <ul class="metismenu" id="menu">
            <li class="nav-label first">Danh mục chính</li>
            <li>
                <a href="/admin" aria-expanded="false">
                    <i class="icon icon-single-04"></i><span class="nav-text">Trang chủ</span>
                </a>
            </li>
            <li class="nav-label">Danh mục</li>
            <li>
                <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                    <i class="fa-solid fa-list"></i><span class="nav-text">Quản lý Menu</span>
                </a>
                <ul aria-expanded="false">
                    <li><a href="/admin/menu">Menu</a></li>
                    <li><a href="/admin/muc-menu">Mục Menu</a></li>
                </ul>
            </li>
            <li>
                <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                    <i class="fa-solid fa-box"></i><span class="nav-text">Quản lý sản phẩm</span>
                </a>
                <ul aria-expanded="false">
                    <li><a href="/admin/san-pham">Sản phẩm</a></li>
                    <li><a href="/admin/san-pham/danh-muc">Danh mục sản phẩm</a></li>
                    <li><a href="/admin/san-pham/kich-thuoc-">Kích thước</a></li>
                </ul>
            </li>
            <li>
                <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                    <i class="fa-solid fa-cart-shopping"></i><span class="nav-text">Quản lý đơn hàng</span>
                </a>
                <ul aria-expanded="false">
                    <li><a href="/admin/don-hang">Đơn hàng</a></li>
                </ul>
            </li>
            <li>
                <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                    <i class="fa-solid fa-newspaper"></i><span class="nav-text">Quản lý bài viết</span>
                </a>
                <ul aria-expanded="false">
                    <li><a href="/admin/bai-viet">Bài viết</a></li>
                    <li><a href="/admin/bai-viet/danh-muc">Danh mục bài viết</a></li>
                </ul>
            </li>
            <li>
                <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                    <i class="fa-solid fa-envelope"></i><span class="nav-text">Quản lý Email</span>
                </a>
                <ul aria-expanded="false">
                    <li><a href="/admin/email/hop-thu">Hộp thư</a></li>
                    <li><a href="/admin/email/phan-hoi">Phản hồi</a></li>
                </ul>
            </li>
            <li>
                <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                    <i class="icon icon-app-store"></i><span class="nav-text">Chức năng khác</span>
                </a>
                <ul aria-expanded="false">
                    <li><a href="/admin/thong-tin-lien-he">Thông tin liên hệ</a></li>
                </ul>
            </li>
        </ul>
    </div>


</div>