@model FashionShop.Models.ViewModel.ForgetViewModel
@{
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}
<section class="checkout spad">
    <div class="container">
        @using (Html.BeginForm("Forget", "Account", FormMethod.Post, new { @class = "checkout__form" }))
        {
            @Html.AntiForgeryToken()
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="checkout__form__input">
                                <p>Email <span>*</span></p>
                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @autofocus = "autofocus", @placeholder = "Email" })
                                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger"})
                            </div>
                            <div class="d-flex justify-content-center">
                                <button type="submit" class="site-btn ">Kiểm tra</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</section>