.description__product {
    color: #444444;
    margin-bottom: 28px;
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    line-height: 24px;
    margin: 0 0 15px 0;
}
